.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}